.about__main {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}
.about__main li {
  margin-top: 20px;
}
@media screen and (min-width: 1000px) {
  .about__main {
    margin-left: 200px;
    margin-right: 200px;
  }
  .about__main li {
    margin-top: 33px;
  }
}
