.collapse {
  display: flex;
  margin-top: 16.5px;
  flex-wrap: wrap;
}

.dropdown__item {
  flex-basis: 100%;
}
.dropdown-list {
  background: #f7f7f7;
  width: 98%;
  padding: 25px 12px;
  border-radius: 0 0 5px 5px;
  color: #ff6060;
  font-size: 0.9rem;
}

.dropdown li {
  margin-bottom: 6px;
}

.dropdown-list.drop-close {
  display: none;
}

.dropdown-list.drop-open {
  display: open;
}

.dropdown__item--title {
  background: #ff6060;
  border-radius: 5px;
  height: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.dropdown__item--title p {
  margin-left: 11.5px;
}

.dropdown__item--arrow-up {
  margin-right: 11px;
  user-select: none;
}
.dropdown__item--arrow-down {
  width: 26.5px;
  margin-right: 19px;
}
@media screen and (min-width: 1000px) {
  .dropdown__item {
    flex-basis: 48%;
  }
  .dropdown__item--title {
    height: 52px;
    border-radius: 10px;
  }
  .dropdown__item--title p {
    margin-left: 20px;
  }
  .dropdown__item--arrow-up {
    width: 26.5px;
    margin-right: 19px;
  }
  .dropdown__item--arrow-down {
    transform: rotate(180deg);
    margin-right: 11px;
    user-select: none;
  }
  .collapse {
    margin-top: 24px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
