@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.home {
  margin: 0 20px 0 20px;
 
  font-family: 'Roboto', sans-serif; /* New font */
}



@media screen and (min-width: 1000px) {
  .home {
    margin: 0 100px 0 100px;
  }
}
